@import url("./animation.css");

/* Navigation Bar */

.navbar {
  display: flex;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 100;
  overflow: hidden;
  background-color: #033a48;
  color: #dff4f6;
  align-items: center;
}

.logo {
  font-size: 18px;
  font-weight: 500;
  padding: 12px 13px;
  margin-left: 25px;
  border: 2px solid #dff4f6;
  border-radius: 36px;
}

.navbar-links {
  margin-right: 10px;
  display: flex;
  text-decoration: none;
  list-style: none;
  justify-content: center;
  gap: 28px;
}

.navbar-right {
  display: flex;
  margin-left: auto;
  margin-right: 20px;
}

.navbar-items {
  text-decoration: none;
  padding: 8px;
  color: #dff4f6;
  font-weight: 300;
}

.navbar-items:hover {
  border-bottom: 1px solid #dff4f6;
  cursor: pointer;
}

.menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
  margin-left: auto;
  color: #dff4f6;
}

/* Hero content */

.hero-content {
  display: flex;
  align-items: center;
  background: linear-gradient(to right, #ffff, #91bada);
  color: #033a48;
  height: 600px;
  overflow: hidden;
  font-family: Poppins, serif;
}

.left-hero {
  flex: 1.5;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 60px;
}

.intro-head {
  font-size: 65px;
}

.intro-text {
  font-size: 30px;
}

.right-hero {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 600px;
  width: 300px;
}

.right-hero img {
  height: 100%; /* Full height of the container */
  width: auto; /* Maintain aspect ratio */
  object-fit: cover;
  position: absolute;
  right: 0;
  mask-image: linear-gradient(to right, transparent, #91bada);
  mask-composite: exclude;
  filter: blur(0);
}

/* About me */

.about-me {
  width: 100%;
  display: flex;
  flex-direction: row;
  font-family: "Patrick Hand", serif;
  padding-top: 40px;
}

.about-me-left {
  display: flex;
  flex: 1;
  justify-content: right;
  align-items: flex-start;
  padding-left: 20px;
}

.about-me h2 {
  position: relative;
  font-size: 40px;
}

.about-me p {
  font-size: 20px;
}

.about-me ul {
  font-size: 18px;
}

.about-me-left img {
  position: sticky;
  max-width: 400px;
  height: auto;
  width: 100%;
  object-fit: cover;
  border-radius: 150px;
  margin: 5px;
}

.about-me-right {
  flex: 2;
  justify-content: left;
  padding-right: 50px;
}

/* Portfolio Section */
.portfolio {
  padding: 25px 0;
  font-family: "Patrick Hand", serif;
  align-items: center;
  justify-items: center;
  text-align: center;
}

.my-work-title {
  width: 80%;
  text-align: center;
}

.portfolio h2 {
  font-size: 45px;
}

.portfolio-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 25px;
  row-gap: 40px;
  padding-left: 50px;
  padding-right: 50px;
}

.portfolio-item {
  background: #c9deee;
  align-items: center;
  justify-items: center;
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 #0003;
  overflow: hidden;
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.portfolio-item:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition-duration: 0.3s;
}

.portfolio-preview {
  height: 80%;
  width: 100%;
}

.portfolio-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-me-left img:hover {
  transform: scale(1.1);
  transition-duration: 0.3s;
}

.work-title {
  display: flex;
  justify-self: center;
  text-align: center;
  align-items: center;
}

/* Contact me */

.contact-me {
  width: 100vw;
  height: auto;
  padding-bottom: 20px;
  background-color: #033a48;
  color: #ffff;
}

.contact-me h2 {
  display: flex;
  justify-content: center;
  font-family: "Patrick Hand", serif;
  font-size: 45px;
  padding-top: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.form input,
.form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s;
}

input:focus,
textarea:focus {
  border: 2px solid #91bada;
  outline: none;
}

.button {
  padding: 12px 20px;
  background-color: #ffff;
  color: #033a48;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #91bada;
}

/* Footer */

/* .whale {
  position: absolute;
  top: 0;
  width: 15%;
  left: 5%;
  height: auto;
  opacity: 0.9;
  overflow: hidden;
}

.whale img {
  position: relative;
  width: 100%;
  object-fit: contain;
} */

.footer {
  position: relative;
  display: block;
  background-color: #033a48;
  color: #ffff;
  margin: 0;
}

.footer-rights {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  font-size: 0.8rem;
}

.footer-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-logo {
  display: flex;
  font-size: 50px;
  padding-left: 50px;
}

.footer-logo h1 {
  font-size: 30px;
  font-family: Poppins, serif;
  padding: 20px;
  border-radius: 60px;
}

.social-links {
  display: flex;
  align-items: center;
  padding-right: 50px;
}

.social-links a {
  color: #dff4f6;
  font-size: 24px;
  margin: 0 10px;
  transition: color 0.3s ease;
  text-decoration: none;
}

.social-links a:hover {
  color: #91bada;
}

/* Responsive */

@media (width < 550px) {
  .navbar-right {
    display: flex;
    line-height: 12px;
    font-size: 15px;
    text-align: center;
    background-color: #033a48;
    color: #ffff;
    flex-direction: column;
  }

  .navbar-links {
    padding: 0;
    gap: 0;
  }

  /* .menu-icon {
    display: block;
    padding-right: 15px;
  }

  .menu-icon:hover {
    cursor: pointer;
    color: #91bada;
  } */

  .portfolio-section {
    grid-template-columns: 1fr;
  }
}

@media (width < 1100px) {
  .hero-content {
    flex-direction: column;
    width: 100%;
    height: 100vh;
  }

  .left-hero {
    order: 1;
    flex: 0;
    width: 100%;
    align-items: center;
    text-align: center;
    padding-left: 0;
  }

  .left-hero h2 {
    font-size: 60px;
    margin: 0;
    padding-top: 40px;
  }

  .left-hero p {
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .right-hero {
    order: 2;
    width: 100%;
    justify-content: center;
    overflow: visible;
  }

  .right-hero img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    mask-image: linear-gradient(to bottom, transparent, #91bada);
    mask-composite: exclude;
    filter: none;
  }

  .about-me {
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
  }

  .about-me-left {
    display: flex;
    align-items: center;
    justify-items: center;
    width: 30%;
    height: auto;
    margin-bottom: -10px;
  }

  .about-me-right {
    align-items: center;
    justify-items: center;
    text-align: center;
    width: 60%;
    padding: 0;
  }

  .about-me-right h2 {
    margin: 0;
  }

  .about-me-right ul {
    text-align: left;
  }
}

@media (550px < width < 965px) {
  .portfolio-section {
    grid-template-columns: repeat(2, 1fr);
  }
}
